.step-view{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: whitesmoke;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .active-view{
  background-color: gray;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.information-view{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.step-view-container{
  width: 60px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.step-title{
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.selected-item{
  border: 1px solid blue !important;
}

.step{
  margin: 15px;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  display: flex;

}

.step-hr{
  align-self: center;
  height: 1px;
  width: 100%;
  background-color: gray;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.grid-layout {
  display: grid;
  grid-template-columns: auto auto auto;
  
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  border-radius: 12px;
  font-size: 16px;
  text-align: center;
  cursor:pointer;
}

h3{
  text-align: center;
  color: grey;
  align-self: center;
  margin: 0%;
  padding: 0%;
}

.active {
  color: white;
}
span{
  text-align: center;
}

.form-container{
  padding: 15px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input[type=text]{
  height: 40px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  border: 0.5px solid gray;
  align-self: flex-start;
}

input[type=date]{
  height: 40px;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  background-color: white;
  align-self: flex-start;
}

input[type=number]{
  height: 40px;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  background-color: white;
  align-self: flex-start;
}

select{
  height: 40px;
  width: 35%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  background-color: white;
  align-self: flex-start; 
}

.row-select{
  height: 45px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  background-color: white;
  align-self: flex-start; 
}

textarea{
  height: 120px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  border: 0.5px solid gray;
  align-self: flex-start;
}

label{
  margin-top: 10px;
}

input[type=checkbox]{
  padding-right: 10px;
  font-size: 16px;
  margin-top: 15px;
  align-self: center;

}

.row{
  flex-direction: row;
  display: flex;
  flex: 1;
  margin-top: 10px;

}

.button-view{
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.next-btn{
  border-radius: 10px;
  border: 1px solid gray;
  background-color: gray;
  font-size: 14px;
  color: white;
  width: 120px;
  height: 40px;
  cursor:pointer;
}

.prev-btn{
  border-radius: 10px;
  border: 1px solid gray;
  background-color: white;
  font-size: 14px;
  color: black;
  width: 120px;
  height: 40px;
  margin-right: 15px;
  cursor:pointer;
}

.done-btn{
  border-radius: 10px;
  border: 1px solid gray;
  background-color: gray;
  font-size: 14px;
  color: white;
  width: 240px;
  height: 40px;
  align-self: center;
  cursor:pointer;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
